.search-bar {
  $search-bar-height: 40px;

  &__form {
    display: flex;
    box-shadow: 0px 0px 4px -2px black;
    border-radius: 5px;
    overflow: hidden;
  }

  &__input-container {
    position: relative;
    display: flex;
    height: $search-bar-height;
    background-color: var(--color-bg);
  }

  &__input {
    border: none;
    height: 100%;
    padding: 0.4rem 1rem;
    color: var(--color-text);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-text-m);
    }
  }

  &__submit {
    padding: 0 1rem;
    border: none;
    background-color: var(--color-bg);
    color: var(--color-text-l);
    cursor: pointer;
    transition: background 0.25s;

    &:active {
      background-color: var(--color-primary-alpha50);
    }
  }
}
