.confirm-modal {
  max-width: 300px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 1rem;

  &__content {
    display: flex;
  }

  &__icon {
    margin-right: 1rem;
    font-size: 2rem;
    color: var(--color-primary);
  }

  &__message {
    color: var(--color-text);
    line-height: 140%;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
  }
}
