.rss-logo {
  display: block;
  width: var(--rss-logo-size);

  .st0, .st1, .st2, .st3, .st4, .st5, .st6, .st8, .st9 {
    fill: silver;
    stroke: grey;
  }

  .st1 {
    fill: var(--color-text);
  }
    
  .st7 {
    fill: silver;
  }
  
  .logo-path {
    fill: silver;
    stroke: gray;
    stroke-width: 4px;
    transition: 0.1s ease-in;
  }

  .st1 {
    clip-path: url(#SVGID_2_);
  }
  .st2 {
    clip-path: url(#SVGID_4_);
  }
  .st3 {
    clip-path: url(#SVGID_6_);
  }
  .st4 {
    clip-path: url(#SVGID_8_);
  }
  .st5 {
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
  .st6 {
    clip-path:url(#SVGID_8_);
  }
  .st6,.st7 {
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
  .st8,.st9 {
    clip-path: url(#SVGID_10_);
  }
  .st9 {
    stroke-width: 4;
    stroke-miterlimit: 10;
  }
}