.card {
  position: relative;
  box-shadow: 0px 0px 15px -10px var(--color-text);
  background-color: var(--color-bg);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.25s;
  cursor: pointer;

  &__views-icon {
    margin-right: 0.5rem;
  }

  &__author {
    word-break: break-all;
    color: var(--color-text-l);
  }

  &__img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: var(--color-text-xs);
    min-height: 150px;

    img {
      transition: 0.25s;
      width: 100%;
    }
  }

  &__row-title {
    display: none;
  }

  &__title {
    color: var(--color-text-xl);
    font-size: 1rem;
    line-height: 120%;
    font-weight: 700;
    word-break: break-word;
  }

  &__info,
  &__description {
    font-size: 0.875rem;
    line-height: 140%;
    color: var(--color-text-xl);
  }

  &__info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }

  &__row {
    &_rating {
      display: flex;
    }

    &_authors {
      .card__row-content {
        font-style: italic;
      }
    }
  }
}

@media (hover: hover) {
  .card:not(.card_full):hover {
    box-shadow: none;
    transform: translateY(2px);
  }
}
