.card {
  position: relative;
  box-shadow: 0px 0px 4px -2px var(--color-text);
  border: 1px solid transparent;
  background-color: var(--color-bg);
  border-radius: 5px;
  overflow: hidden;
  transition: 0.25s;
  cursor: pointer;

  &__img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: var(--color-text-xs);
    min-height: 250px;
    img {
      transition: 0.25s;
      width: 100%;
    }
  }

  &__row-title {
    display: none;
  }

  &__title {
    color: var(--color-text-xl);
    font-size: 1rem;
    line-height: 120%;
    font-weight: 700;
    word-break: break-word;
  }

  &__info,
  &__description {
    font-size: 0.875rem;
    line-height: 140%;
    color: var(--color-text-xl);
  }

  &__info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }

  &__row {
    &_rating {
      display: flex;
    }

    &_authors {
      .card__row-content {
        font-style: italic;
      }
    }
  }
}

.card_full {
  box-shadow: none;
  background: none;
  border: none;

  .card__top {
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
  }

  .card {
    &__info {
      padding: 0;
    }

    &__description {
      display: flex;
      flex-direction: column;

      .card__row-content {
        display: block;
        word-break: break-word;
      }

      p {
        margin-top: 0.5rem;
      }
    }

    &__row-title {
      display: inline;
      font-weight: 700;
      margin-right: 0.2rem;
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
      padding-right: 1.2rem;
      word-break: normal;
      line-height: 100%;
    }

    &__left {
      flex-shrink: 0;
      max-height: 300px;
    }

    &__img {
      align-items: flex-start;
      margin-bottom: 0.5rem;
      min-height: auto;

      img {
        width: 100%;
      }
    }
  }
}

@media (hover: hover) {
  .card:not(.card_full):hover {
    border: 1px solid silver;
  }
}
