.footer {
  height: var(--footer-height);
  flex: none;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__github-link {
    text-decoration: none;
    transition: 0.25s;
  }

  &__github-link-icon {
    margin-right: 0.5rem;
  }
}