@import "@styles/mixins";
@import "@styles/breakpoints";

$gap: 2rem;

.cards-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: $gap;
  row-gap: $gap;

  @include sm-breakpoint {
    justify-content: center;
  }

  &__item {
    @include flexBasisColumns(4, $gap);

    @include md-breakpoint {
      @include flexBasisColumns(3, $gap);
    }

    @include sm-breakpoint {
      flex-basis: auto;
      width: 250px;
    }
  }
}
