@import "../node_modules/normalize.css/normalize.css";
@import "@styles/variables";
@import "@styles/button";

html, body, #root, .scroll-container {
  height: 100%;
  min-height: 100%;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  font-weight: 400;
  overflow: hidden;
}

*, h1, h2, h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  color: var(--color-text-xl);
}

h2 {
  color: var(--color-text-xl);
}

a {
  text-decoration: none;
  color: var(--color-text-xl);
  transition: 0.25s;

  @media (hover: hover) {
    &:hover {
      color: var(--color-primary);
    }
  }
}

ul {
  list-style: none;
}