.homepage {
  &__search-bar-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .homepage {
    &__search-bar-container {
      justify-content: center;
    }
  }
}
