.homepage {
  &__search-bar-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  &__card-list-container {
    display: flex;
    justify-content: center;
    color: var(--color-text-l);
  }
}

@media (max-width: 768px) {
  .homepage {
    &__search-bar-container {
      justify-content: center;
    }
  }
}
